Repository swethakundaram/ai-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, mdxlint --output --

commented out version dropdown
  docusaurus.config.js
Due: eslint --fix, prettier --write

New blog for Product launch, introducing wavemaker.ai
  blogs/blog/2026-02-18-wavemaker-enters-the-agentic-universe.mdx
Due: mdxlint --output --

added empty line at end of robots.txt
  static/robots.txt
Due: none

fixed broken links, added dummy file in feature announcements
  blogs/feature-announcements/2026-02-18-wavemaker-feature-annoucements.mdx
  docs/guide/migrated-docs/consuming-existing-wm-api-into-another-wm-project.md
  docs/guide/migrated-docs/switch-security-provider-based-on-profile.md
Due: mdxlint --output --

corrected academy url in announcements
  docs/release-notes/release-version-1/the-announcement.mdx
Due: mdxlint --output --

Minor edits in the blog post
  blogs/blog/2026-02-18-wavemaker-enters-the-agentic-universe.mdx
Due: mdxlint --output --

Added style workspace and auto layout
  docs/studio/workspaces/style-workspace.mdx
  docs/user-interfaces/web/develop/working-with-layouts/auto-layout.mdx
  sidebar/sidebars/userInterfacesWebSidebar.js
Due: eslint --fix, prettier --write, mdxlint --output --

Docs - Angular
  docs/user-interfaces/web/develop/create-web-app-project/angular-project-structure.mdx
Due: mdxlint --output --

Few more minor edits
  blogs/blog/2026-02-18-wavemaker-enters-the-agentic-universe.mdx
Due: mdxlint --output --

docs(tech-stack): resolve conflicts and update definitions
  data/tech-stack-data/1-0-0-beta.json
Due: prettier --write

Create build-with-aira.md
  docs/developing-with-agents/build-with-aira.md
Due: mdxlint --output --

dynamic table
  docs/guide/components/creating-dynamic-data-table.md
  sidebar/sidebars/guideSidebar.js
  static/learn/assets/dynamic-table.png
Due: eslint --fix, prettier --write, mdxlint --output --

data table and form
  docs/guide/components/combining-columns-in-data-table.md
  docs/guide/components/configuring-row-expansion-in-a-data-table.md
  docs/guide/components/creating-dynamic-data-table.md
  docs/guide/components/creating-dynamic-form.md
  docs/guide/components/displaying-additional-components-data-table.md
  docs/guide/components/live-form-fields-configuration.md
  sidebar/sidebars/guideSidebar.js
Due: eslint --fix, prettier --write, mdxlint --output --

Queries with Dynamic Where Clause – UI & Backend
  docs/guide/components/queries-with-dynamic-where-clause.md
  sidebar/sidebars/guideSidebar.js
Due: eslint --fix, prettier --write, mdxlint --output --

data table custom styling
  docs/guide/components/custom-styling-data-table-columns-rows.md
  sidebar/sidebars/guideSidebar.js
Due: eslint --fix, prettier --write, mdxlint --output --

Create combining-columns-data-table copy.md
  docs/guide/components/combining-columns-data-table copy.md
Due: mdxlint --output --

Update guideSidebar.js
  sidebar/sidebars/guideSidebar.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,html})
  mdxlint --output --: any of: *.{md,mdx}
